  .btn-info{
    background-color: #123481 !important;
    border-color: #123481 !important;
  } 

  .btn-primary{
  	background-color: #123481 !important;
    border-color: #123481 !important;
  }

 .table-head{
  	padding-left:1em;
  }

#body-login{ 
  background: url(../images/wallpaper.jpg) no-repeat center center fixed !important; 
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

#digid-background{
   background: url(../images/digid.jpg) no-repeat center center fixed !important; 
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important; 
}
