  .btn-info{
    background-color: #123481 !important;
    border-color: #123481 !important;
  } 

  .btn-primary{
  	background-color: #123481 !important;
    border-color: #123481 !important;
  }

 .table-head{
  	padding-left:1em;
  }