.page-introduction{
	width: 100%; 
	margin-bottom: 50px;
	.image{
		width: 100%;
		img{
			max-width: 100%;
			margin: 0px;
			padding: 0px;
		}

	}

	.text{
		min-height: 180px;
		padding: 20px;
		margin: 0px;
	}

}

